.form-group{
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0;
}

.form-line{
  margin: 3px 0 6px 0;
  padding: 0;
}

map-title{
  width: 100%;
  height: 30px;
}

.generate-pdf{
  width:100%;
}

.print-title {
  color: @printHeaderFontColor !important;
  text-decoration: none !important;
  font-size: small;
  font-family: @sansFontFamily;
  font-weight: bold;
}

.print-heading {
  background-color: @printHeaderColor !important;
}

.placeholder-print {
  background-color: @placeholderPrintColor !important;
}
.placeholder-print-title {
  color: @placeholderPrintFontColor !important;
}
.placeholder-print-symbol {
  color: @remoteDownColor;
}

.print-buttons {
  height: 33px;
}

.smaller-font-size{
  font-size: smaller;
}

.max-size{
  max-height: 150px;
  overflow: auto;
}

#attribute-label {
  padding-top: 10px;
}
#attributeRow {
  margin-left: 0px;
  margin-right: 0px;

  overflow: auto;
  max-height: 186px;
  .list-group-item {
    border: 1px solid lighten(@attributeListColor, 10%);
    color: @attributeListFontColor;
    background-color:@attributeListColor;
  }
}

.print-inner-panel {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}


.right-and-center {
  position: relative;
  top: 8px;
  float: right;
}

#print-extent{
  position:absolute;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-color: #0B4C5F;
  border-width: 0;
  top: 0;
  left: 0;
  //height: 40%;
  //width: 40%;
  //left: 340px;
  padding: 0;
  margin: 0;
}
