<div>
  <div class="info-box-title-row row">
    <div class="info-box-back"><i ng-if="featureManagerService.getPreviousState() != ''" class="glyphicon glyphicon-chevron-left" ng-click="featureManagerService.showPreviousState()"></i></div>
    <div ng-if="featureManagerService.getState() == 'layers'" class="info-box-title ellipsis" translate="map_layers"></div>
    <div ng-if="featureManagerService.getState() == 'layer'" class="info-box-title ellipsis">{{featureManagerService.getSelectedItem().layer.get('metadata').title}}</div>
    <div ng-if="featureManagerService.getState() == 'feature'" class="info-box-title ellipsis">
      {{featureManagerService.getSelectedItemLayer().layer.get('metadata').title}}<br>{{featureManagerService.getSelectedItem().id}}</div>
    <div class="info-box-close"><i class="glyphicon glyphicon-remove" ng-click="featureManagerService.hide()"></i></div>
  </div>
  <div class="animate-switch-container">
    <div ng-if="featureManagerService.getState() == 'layers'">
      <ul class="list-group list-group-info-box">
        <li ng-repeat="layerInfo in featureManagerService.getSelectedItem()" class="list-group-item-info-box"
            ng-click="featureManagerService.show(layerInfo)">
          <div>{{layerInfo.layer.get('metadata').title}}</div>
        </li>
      </ul>
    </div>
    <div ng-if="featureManagerService.getState() == 'layer'">
      <ul class="list-group list-group-info-box">
        <li ng-repeat="feature in featureManagerService.getSelectedItem().features" class="list-group-item-info-box"
            ng-click="featureManagerService.show(feature)">
          <div>{{feature.id}}</div>
        </li>
      </ul>
    </div>
  </div>

  <div ng-if="featureManagerService.getState() == 'feature'">
    <div id="pic-carousel-container" ng-if="featureManagerService.getSelectedItemMedia()">
      <carousel id="feature-info-box-carousel" interval="2000">
        <slide ng-repeat="mediaItem in featureManagerService.getSelectedItemMedia() track by $index">
          <img ng-src="{{featureManagerService.getMediaUrlThumbnail(mediaItem)}}"
               onerror="this.src='/static/maploom/assets/media-error.png'"
               style="margin: auto" ng-click="featureManagerService.showMedia(null, $index)">
        </slide>
      </carousel>
    </div>

    <div class="feature-info-box">
      <span class="info-box-attribute" ng-show="!isShowingAttributes()" translate="no_attributes"></span>
      <span ng-repeat="prop in featureManagerService.getSelectedItemProperties()">
        <div ng-if="!featureManagerService.isMediaPropertyName(prop[0])" ng-show="isAttributeVisible(prop[0])">
          <span class="info-box-attribute">{{prop[0]}}</span>
            <span ng-switch on="isUrl(prop[1])">
              <a ng-switch-when="true" class="info-box-attribute-value" target="_blank" href="{{prop[1]}}">{{prop[1]}}</a>
              <span ng-switch-default class="info-box-attribute-value">{{prop[1]}}</span>
            </span>
        </div>
      </span>
    </div>

    <div id="feature-info-box-bottom">
      <div id="feature-info-box-button-group" class="btn-group pull-right">
        <button type="button" ng-if="!featureManagerService.getSelectedLayer().get('metadata').spatialFilterLayer" ng-click="setAsSpatialFilter()" tooltip-append-to-body="true" tooltip-placement="top"
                tooltip="{{'set_spatial_filter' | translate}}" class="btn btn-sm btn-default glyphicon glyphicon-filter">
        </button>
        <button type="button" ng-if="!featureManagerService.getSelectedLayer().get('metadata').spatialFilterLayer" ng-click="showTable(featureManagerService.getSelectedLayer())" tooltip-append-to-body="true" tooltip-placement="top"
                tooltip="{{'show_table' | translate}}" class="btn btn-sm btn-default glyphicon glyphicon-list">
            <div class="loom-loading" spinner-radius="16" spinner-hidden="!isLoadingTable(featureManagerService.getSelectedLayer())"></div>
        </button>
        <button type="button" ng-if="featureManagerService.getSelectedLayer().get('metadata').isGeoGig"
                ng-click="showFeatureHistory()" tooltip-append-to-body="true" tooltip-placement="top"
                tooltip="{{'show_history' | translate}}"
                class="btn btn-sm btn-default glyphicon glyphicon-time">
          <div class="loom-loading" spinner-radius="10" spinner-width="2" spinner-hidden="!loadingHistory"></div>
                </button>
        <!--<button type="button" tooltip-append-to-body="true" tooltip-placement="top" tooltip="{{'show_media' | translate}}"
                class="btn btn-sm btn-default glyphicon glyphicon-camera"></button>-->
        <!--<button type="button" ng-if="featureManagerService.getSelectedLayer().get('metadata').editable &&
        !featureManagerService.getSelectedLayer().get('metadata').readOnly && !featureManagerService.getSelectedLayer().get('metadata').spatialFilterLayer" ng-click="featureManagerService.startAttributeEditing()"
                tooltip-append-to-body="true" tooltip-placement="top" tooltip="{{'edit_attributes' | translate}}"
                class="btn btn-sm btn-default glyphicon glyphicon-list-alt"></button>
        <button type="button" ng-if="featureManagerService.getSelectedLayer().get('metadata').editable &&
        !featureManagerService.getSelectedLayer().get('metadata').readOnly" ng-click="featureManagerService.startGeometryEditing()"
                tooltip-append-to-body="true" tooltip-placement="top" tooltip="{{'edit_geometry' | translate}}"
                class="btn btn-sm btn-default glyphicon glyphicon-edit"></button>
        <button type="button" ng-if="!featureManagerService.getSelectedLayer().get('metadata').readOnly"
                ng-click="deleteFeature()" tooltip-append-to-body="true" tooltip-placement="top" tooltip="{{'delete_feature' | translate}}"
                class="btn btn-sm btn-default glyphicon glyphicon-trash">
          <div class="loom-loading" spinner-radius="10" spinner-width="2" spinner-hidden="!deletingFeature"></div>
                </button>-->
      </div>
    </div>
  </div>
</div>
