<div class="modal-body">
  <div id="table-loading" class="loom-loading" spinner-width="6" spinner-radius="40" spinner-hidden="!isSaving"></div>
  <span ng-if="!advFilters" class="table-search-group">
    <div class="table-search-box input-group input-group-sm">
      <input type="text" class="form-control" ng-change="search.isSearching = false" ng-model="search.text" placeholder="{{'search_table' | translate}}">
      <span class="input-group-btn">
        <a class="btn btn-default" ng-click="searchTable()" type="button">
          <i ng-if="!search.isSearching" class="glyphicon glyphicon-search"></i>
          <i ng-if="search.isSearching" class="glyphicon glyphicon-remove"></i>
        </a>
      </span>
    </div>
  </span>
  <button ng-if="advFilters" type="button" class="filter-button btn btn-default table-btn" ng-click="applyFilters()"
          translate="apply_filters" ng-disabled="tableviewform.$visible">
  </button>
  <button ng-if="advFilters" type="button" class="filter-button btn btn-default table-btn" ng-click="clearFilters()"
          translate="clear_filters" ng-disabled="tableviewform.$visible">
  </button>
  <button type="button" class="filter-button btn btn-default table-btn" ng-click="toggleAdvancedFilters()"
          translate="advanced_filters" ng-disabled="tableviewform.$visible" data-toggle="button">
  </button>
    <!--<button ng-if="!advFilters" type="button" class="filter-button btn btn-default table-btn" ng-click="toggleAdvancedFilters()"-->
            <!--translate="advanced_filters" ng-disabled="tableviewform.$visible">-->
    <!--</button>-->
  <button id="spatial-filter-button" ng-if="spatialFilter.geometryGML.length > 0" type="button" class="filter-button btn btn-default table-btn" ng-click="toggleSpatialFilters()"
          translate="spatial_filter" ng-disabled="tableviewform.$visible" data-toggle="button">
  </button>
  <form editable-form name="tableviewform" onaftersave="saveTable()">
    <div class="panel panel-default">
      <table class="table-striped table-hover" ng-class="{sortable: isSortable}">
        <thead>
          <tr ng-if="advFilters" style="border-bottom: 2px solid #ddd;">
              <td class="filter-row first-filter-row">
                  <span class="filters-label">{{'filter' | translate}}</span>
              </td>
              <td class="filter-row" ng-repeat="attr in attributes">
                  <!--<input class="form-control" type="text" ng-model="attr.filter.text">-->
                  <filteroptions attribute="attr" type="restrictions[attr.name].type"></filteroptions>
              </td>
          </tr>
          <tr>
            <th>{{'feature_id' | translate}}</th>
            <th ng-repeat="attr in attributes" class="pointer" ng-click="selectAttribute(attr)" ng-class="{selectedAttribute: attr.selected}">{{attr.name}}</th>
          </tr>
        </thead>
        <tr ng-repeat="row in rows" ng-class="{selectedRow: row.selected}" ng-click="selectFeature(row)">
          <td>{{row.feature.id}}</td>
          <td ng-repeat="attr in attributes track by $index" ng-class="{'table-editing': tableviewform.$visible}">
            <div ng-switch on="restrictions[attr.name].type" ng-class="{'wide-table-element': advFilters}">
              <span ng-switch-when="" editable-text="row.feature.properties[attr.name]" e-form="tableviewform"
                    e-style="width:160px">{{row.feature.properties[attr.name]}}</span>
              <span ng-switch-when="noEdit">{{row.feature.properties[attr.name]}}</span>
              <span ng-switch-when="int" editable-text="row.feature.properties[attr.name]" e-form="tableviewform"
                    e-style="width:160px">{{row.feature.properties[attr.name]}}</span>
              <span ng-switch-when="double" editable-text="row.feature.properties[attr.name]" e-form="tableviewform"
                    e-style="width:160px">{{row.feature.properties[attr.name]}}</span>
              <div ng-switch-when="datetime">
                  <span ng-if="!tableviewform.$visible">{{row.feature.properties[attr.name] | date:"MM/dd/yyyy @ h:mm a"}}</span>
                  <datetimepicker ng-if="tableviewform.$visible" id="table-datetime" date-object="row.feature.properties[attr.name]"
                        default-date="false" seperate-time="false"></datetimepicker>
              </div>
                <div ng-switch-when="date">
                    <span ng-if="!tableviewform.$visible">{{row.feature.properties[attr.name] | date:"MM/dd/yyyy"}}</span>
                    <datetimepicker ng-if="tableviewform.$visible" id="table-datetime" date-object="row.feature.properties[attr.name]"
                                    default-date="false" seperate-time="false" time="false"></datetimepicker>
                </div>
                <div ng-switch-when="time">
                    <span ng-if="!tableviewform.$visible">{{row.feature.properties[attr.name] | date:"h:mm a"}}</span>
                    <datetimepicker ng-if="tableviewform.$visible" id="table-datetime" date-object="row.feature.properties[attr.name]"
                                    default-date="false" seperate-time="false" date="false"></datetimepicker>
                </div>
              <div ng-switch-default class="input-group">
                <span ng-if="!tableviewform.$visible">{{row.feature.properties[attr.name]}}</span>
                <div ng-if="tableviewform.$visible" class="input-group-btn" ng-class="{'dropup': $last}">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a ng-click="selectValue(row.feature.properties, attr.name, null)">&nbsp;</a>
                    </li>
                    <li ng-repeat="enum in restrictions[attr.name].type">
                      <a ng-click="selectValue(row.feature.properties, attr.name, $index)">{{enum._value}}</a>
                    </li>
                  </ul>
                </div>
                <input ng-if="tableviewform.$visible" ng-model="row.feature.properties[attr.name]" type="text" class="table-dropdown form-control" disabled/>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary table-btn" ng-click="tableviewform.$submit()" ng-show="tableviewform.$visible">{{'save_btn' | translate}}</button>
      <button type="button" class="btn btn-default table-btn" ng-click="tableviewform.$cancel(); applyFilters()" ng-show="tableviewform.$visible">{{'cancel_btn' | translate}}</button>
        <!--<button type="button" class="btn btn-default table-btn" ng-click="tableviewform.$show()"
            ng-show="!tableviewform.$visible && !readOnly" tooltip="{{'edit_attributes' | translate}}" tooltip-append-to-body="true">
          <i class="glyphicon glyphicon-edit"></i>
      </button>-->
      <button type="button" class="btn btn-default table-btn" ng-click="toggleWordWrap()" tooltip="{{'word_wrap' | translate}}" tooltip-append-to-body="true">
          <i class="glyphicon glyphicon-text-width"></i>
      </button>
      <button type="button" class="btn btn-default table-btn" ng-click="goToMap()" ng-show="!tableviewform.$visible && selectedRow != null" tooltip="{{'go_to_map' | translate}}" tooltip-append-to-body="true">
        <i class="glyphicon glyphicon-globe"></i>
      </button>
      <!--<button type="button" class="btn btn-default table-btn" ng-click="showHeatmap()" tooltip="{{'show_heatmap' | translate}}" tooltip-append-to-body="true">
        <i class="glyphicon glyphicon-fire"></i>
      </button>
      <button type="button" ng-click="showStatistics()" class="btn btn-default table-btn" tooltip-append-to-body="true"  ng-class="{disabled: !selectedAttribute}"
         tooltip-placement="top" tooltip="{{'statistics_view' | translate}}" tooltip-append-to-body="true">
        <div class="loom-loading" spinner-radius="16" spinner-hidden="!isLoadingStatistics()"></div>
        <i class="glyphicon glyphicon-stats"></i>
      </button>-->
    </div>

    <!--<div id="table-page-nav">-->
        <button id='previous-page-btn' type="button" class="btn btn-default table-btn"
                ng-controller="previous-tt-controller" ng-click="onPrevious()" ng-disabled="currentPage < 2"
                tooltip="{{'previous_page' | translate}}" tooltip-append-to-body="true">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </button>
        <div class="table-page-indicator">{{getPageText()}}</div>
        <button id='next-page-btn' type="button" class="btn btn-default table-btn"
                ng-controller="next-tt-controller" ng-click="onNext()" ng-disabled="currentPage >= totalPages"
                tooltip="{{'next_page' | translate}}" tooltip-append-to-body="true">
            <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
    <!--</div>-->

    <div class="table-view-footer-text no-select">{{totalFeatures | number:0}} {{'features' | translate}}</div>
  </form>
</div>
