<div id="layerpanel-group" class="panel-group loom-arrangeable layer-container" arrangeable-handle="div.layer-heading"
     arrangeable-item-selector="div.panel" arrangeable-callback="reorderLayer"
     arrangeable-placeholder='<div class="placeholder"></div>'>
  <div class="panel"
       ng-repeat="layer in layers = mapService.map.getLayers().getArray() | reverse | filter:filterInternalLayers">
    <div class="panel-heading layer-heading" data-toggle="collapse" ng-class="{'placeholder-layer': layer.get('metadata').placeholder}"
         data-parent="#layerpanel-group" data-target="#{{layer.get('metadata').uniqueID}}">
      <div class="row">
        <div class="layer-title ellipsis" ng-class="{'placeholder-layer-title': layer.get('metadata').placeholder}"  tooltip={{layer.get('metadata').title}}>
          <i ng-show="isGeogig(layer)" class="fa fa-code-fork"></i>&nbsp;{{layer.get('metadata').title}}
        </div>
        <div class="layer-buttons">
          <!--<span ng-click="featureManagerService.startFeatureInsert(layer)" tooltip-append-to-body="true"
                tooltip-placement="top" tooltip="{{'add_feature' | translate}}"
                ng-show="layer.get('metadata').editable" stop-event="click mousedown" class="btn btn-xs btn-default"
                ng-disabled="(!layer.get('visible') || !layer.get('metadata').schema || layer.get('metadata').readOnly)">
            <i class="glyphicon glyphicon-pencil"></i>
          </span>-->
          <span ng-click="toggleVisibility(layer)" stop-event="click mousedown" tooltip-append-to-body="true"
                ng-show="!layer.get('metadata').placeholder" tooltip-placement="top" tooltip="{{'toggle_visibility' | translate}}"
                class="btn btn-xs btn-default layer-visible-button" ng-class="{'layer-visible': layer.get('visible')}">
            <i class="glyphicon"
               ng-class="{'glyphicon-eye-close': !layer.get('visible'), 'glyphicon-eye-open': layer.get('visible')}"></i>
          </span>
          <i tooltip-append-to-body="true" tooltip-placement="top" tooltip="{{'disabled_layer' | translate}}"
             ng-show="layer.get('metadata').placeholder" class="placeholder-layer-symbol glyphicon glyphicon-ban-circle"></i>
        </div>
      </div>
    </div>
    <div id="{{layer.get('metadata').uniqueID}}" class="panel-collapse collapse">
      <div>{{layer.get('metadata').title}}</div>
      <div class="panel-body layer-inner-panel">
        <div class="btn-group-wrap">
          <div class="btn-group">
            <a type="button" ng-show="!layer.get('metadata').placeholder" ng-click="zoomToData(layer)" tooltip-append-to-body="true"
               tooltip-placement="top" tooltip="{{'zoom_to_data' | translate}}"
               class="btn btn-sm btn-default">
              <div class="loom-loading" spinner-radius="16" spinner-hidden="!zooming"></div>
              <i class="glyphicon glyphicon-resize-small"></i>
            </a>
            <a type="button" ng-click="showTable(layer)" ng-show="layer.get('metadata').editable"
               class="btn btn-sm btn-default" tooltip-append-to-body="true"
               tooltip-placement="top" tooltip="{{'show_table' | translate}}">
              <div class="loom-loading" spinner-radius="16" spinner-hidden="!isLoadingTable(layer)"></div>
              <i class="glyphicon glyphicon-list"></i>
            </a>
            <!--<a type="button" ng-click="showHeatmap(layer)" ng-show="layer.get('metadata').editable == true"
               class="btn btn-sm btn-default" tooltip-append-to-body="true"
               tooltip-placement="top" tooltip="{{'show_heatmap' | translate}}">
              <div class="loom-loading" spinner-radius="16" spinner-hidden="!isLoadingHeatmap(layer)"></div>
              <i class="glyphicon glyphicon-fire"></i>
            </a>-->
            <a type="button" ng-show="isGeogig(layer)" ng-click="showHistory(layer)"
               class="btn btn-sm btn-default" tooltip-append-to-body="true"
               tooltip-placement="top" tooltip="{{'show_history' | translate}}">
              <div class="loom-loading" spinner-radius="16" spinner-hidden="!isLoadingHistory(layer)"></div>
              <i class="glyphicon glyphicon-time"></i>
            </a>
            <a type="button" ng-show="!layer.get('metadata').placeholder && !layer.get('metadata').heatmapLayer"
               tooltip-append-to-body="true" ng-click="getLayerInfo(layer)"
               tooltip-placement="top" tooltip="{{'show_layer_info' | translate}}"
               class="btn btn-sm btn-default">
              <i class="glyphicon glyphicon-info-sign"></i>
            </a>
             <a type="button" ng-show="!layer.get('metadata').placeholder && layer.get('metadata').editable"
               tooltip-append-to-body="true" ng-click="getLayerAttributeVisibility(layer)"
               tooltip-placement="top" tooltip="{{'show_attribute_visibility_info' | translate}}"
               class="btn btn-sm btn-default">
              <i class="glyphicon glyphicon-eye-open"></i>
            </a>
            <a type="button" ng-click="removeLayer(layer)" id="remove-button"
               class="btn btn-sm btn-default" tooltip-append-to-body="true"
               tooltip-placement="top" tooltip="{{'remove_layer' | translate}}">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </div>
        </div>
        <!-- <label id="attribute-label" for="attributeRow" ng-show="layer.get('metadata').editable">{{'attributes' |
          translate}}</label>

        <div id="attributeRow" class="row" ng-show="layer.get('metadata').editable">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="attribute in getAttrList(layer)">
              <div class="attribute-value ellipsis">{{attribute._name}}</div>
              <div class="layer-buttons">
              <span ng-click="toggleAttributeVisibility(attribute)"
                    class="btn btn-xs btn-default layer-visible-button"
                    ng-class="{'layer-visible': attribute.visible}">
                <i class="glyphicon" ng-class="{'glyphicon-eye-close': !attribute.visible, 'glyphicon-eye-open': attribute.visible}"></i>
              </span>
              </div>
            </li>
          </ul>
        </div>-->
      </div>
    </div>
  </div>
</div>
