<div id="printpanel-group" class="panel-group print-container">
    <div class="print-heading" data-toggle="collapse"
         data-parent="#printpanel-group">
      <form class="form-horizontal col-md-12" id="print-form">

        <div class="form-group">
            <div class="row col-md-12 form-line">
              <div class="col-xs-3 print-title">
                <span translate="use"></span>
              </div>
              <div class="col-xs-9">
                <div class="btn-group custom-width-100">
                  <button type="button" class="btn btn-default dropdown-toggle print-buttons custom-width-100" data-toggle="dropdown" id="applicationsDropMenu">
                    <span class="caret right-and-center"></span>
                    <span>{{selectedApp}}</span>
                  </button>
                  <ul class="dropdown-menu col-md-12" aria-labelledby="applicationsDropMenu">
                    <li ng-repeat="app in printApps"><a ng-click="appsDropboxItemSelected(app)">{{app}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row col-md-12 form-line">
              <div class="col-xs-3 print-title">
                <span translate="model"></span>
              </div>
              <div class="col-xs-9">
                <div class="btn-group custom-width-100">
                  <button type="button" class="btn btn-default dropdown-toggle print-buttons custom-width-100" data-toggle="dropdown" id="modelsDropMenu">
                    <span class="caret right-and-center"></span>
                    <span>{{selectedModel}}</span>
                  </button>
                  <ul class="dropdown-menu col-md-12 pull-left max-size" aria-labelledby="modelsDropMenu">
                    <li ng-repeat="model in printModelsName"><a ng-click="modelsDropboxItemSelected(model)">{{model}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row col-md-12 form-line">
              <div class="col-xs-3 print-title">
                <span translate="resolution"></span>
              </div>
              <div class="col-xs-9">
                <div class="btn-group custom-width-100">
                  <button type="button" class="btn btn-default dropdown-toggle print-buttons custom-width-100" data-toggle="dropdown" id="resolutionsDropMenu">
                    <span class="caret right-and-center"></span>
                    <span>{{selectedResolution}} dpi</span>
                  </button>
                  <ul class="dropdown-menu col-md-12" aria-labelledby="resolutionsDropMenu">
                    <li ng-repeat="resolution in printResolutions"><a ng-click="resolutionsDropboxItemSelected(resolution)">{{resolution}} dpi</a></li>
                  </ul>
                </div>
              </div>
            </div>
          <div class="row col-md-12 form-line">
            <div class="col-xs-6 print-title">
              <span translate="map_title"></span>
            </div>
          </div>
          <div class="row col-md-12 form-line">
            <div class="col-xs-12">
              <input class="form-control" type="text" id="title-text" value="{{mapService.getTitle()}}">
            </div>
          </div>
          <div class="row col-md-12 form-line">
            <div class="col-xs-6 print-title">
              <span translate="map_commentary"></span>
            </div>
          </div>
          <div class="row col-md-12 form-line">
            <div class="col-xs-12">
              <textarea class="form-control" type="text" rows="4" id="commentary-text"></textarea>
            </div>
          </div>
          <div class="row col-md-12 form-line">
            <div class="col-xs-12">
              <button type="button" class="btn btn-primary ng-scope generate-pdf" ng-click="submitPrintForm()" translate="generate_pdf" id="submit-print"></button>
            </div>
          </div>
        </div>
      </form>
  </div>
</div>
