<% if (!(typeof django === 'undefined') && (django)) { %>
{% load staticfiles i18n avatar_tags maploom_tags %}
<% } %>

<!DOCTYPE html>
<html ng-app="MapLoom" ng-controller="AppCtrl">
<head>
  <title ng-bind="pageTitle"></title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE-Edge">
  <script type="text/javascript">
    // Récupération des variables url du settings Django
    var apps_print_url = "{{APPS_PRINT_URL}}";
    var brgm_wms = "{{BRGM_WMS}}";
    var map_site_domain = "{{MAP_SITE_DOMAIN}}";
    var map_projection = "{{MAP_PROJECTION}}";
  </script>
  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <% if (!(typeof django === 'undefined') && (django)) { %>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}maploom/<%= file %>"/>
  <% }else{ %>
  <link rel="stylesheet" type="text/css" href="<%= file %>"/>
  <% } %>

  <% }); %>

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <% if (!(typeof django === 'undefined') && (django)) { %>
  <script type="text/javascript" src="{{STATIC_URL}}maploom/<%= file %>"></script>
  <% }else{ %>
  <script type="text/javascript" src="<%= file %>"></script>
  <% } %>
  <% }); %>

  <% if (!(typeof django === 'undefined') && (django)) { %>
  {% get_current_language as language%}
  <script type="text/javascript">
    config = {
      authStatus: { % if user.is_authenticated %} 200 {% else %} 401 {% endif %},
      username: {% if user.is_authenticated %} "{{ user.username }}" {% else %} undefined {% endif %},
      userprofilename: {% if user.is_authenticated %} "{{ user.get_full_name }}" {% else %} undefined {% endif %},
      userprofileemail: {% if user.is_authenticated %} "{{ user.email }}" {% else %} undefined {% endif %},
      currentLanguage: "{{language|default:'fr'}}",
      proxy: "/proxy/?url=",
      nominatimUrl: "http://nominatim.openstreetmap.org",
      printService: "{{GEOSERVER_BASE_URL}}pdf/",
      /* The URL to a REST map configuration service.  This service
      * provides listing and, with an authenticated user, saving of
      * maps on the server for sharing and editing.
      */
      rest: "{% url "maps_browse" %}",
      ajaxLoginUrl: "{% url "account_ajax_login" %}",
      homeUrl: "{% url "home" %}",
      portalItems: [{
        xtype: "container",
        layout: "fit",
      {% if classification_banner_enabled %}
        height: 99,
      {% else %}
        height: 81,
      {% endif %}
      region: "north"
      }],
      localGeoServerBaseUrl: "{{ GEOSERVER_BASE_URL }}",
      localCSWBaseUrl: "{{ CATALOGUE_BASE_URL }}",
      csrfToken: "{{ csrf_token }}",
      tools: [{ptype: "gxp_getfeedfeatureinfo"}],
      apps_print_url: "{{APPS_PRINT_URL}}",
      brgm_wms: "{{BRGM_WMS}}",
      map_site_domain: "{{MAP_SITE_DOMAIN}}",
      map_projection: "{{MAP_PROJECTION}}",
      has_addMap_perm: "{{ perms.maps.add_map }}",
      has_changeMap_perm: "{{ perms.maps.change_map }}",
      print_timeout: "{{PRINT_TIMEOUT}}"
    }
    ;

    mapConfig = {{ config|safe }};
    //goog.object.extend(config, {{config | safe}});
  </script>
  <% } %>

</head>
<body>
<% if (!(typeof django === 'undefined') && (django)) { %>
{% verbatim %}
<% } %>
<div id="map" class="map">
  <div class="map-shadow"></div>
  <div class="loom-timeline"></div>
</div>
<% if (!(typeof django === 'undefined') && (django)) { %>
{% endverbatim %}
<% } %>
</body>
</html>
